<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    {% load static %} {% load crispy_forms_tags %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="Tusifu">
    <title>Login Page </title>
    {% comment %} <link rel="apple-touch-icon" href="{% static 'images/ico/apple-icon-120.png' %}"> {% endcomment %}
    {% comment %} <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">


    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">




</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="dark-layout" style="background-color:#F0EBE5; background-image: url({% static 'images/Soma-Rwanda-Patterns-01.png'%});">
    <!-- BEGIN: Content-->
    {% load widget_tweaks %}

    <div class="container h-100">
        <div class="row align-items-center h-100" style="margin-top: 120px;">
            <div class="col-12 col-md-6 col-sm-12 mx-auto">
                <div class="card rounded-0 mb-0 px-2">
                    <div class="card-header pb-1">
                        <div class="card-title text-center">
                            <img src="" alt="" srcset="" height="100">
                        </div>
                    </div>
                    <h4 class="mb-0 text-info">Login Form</h4>
                    <div class="card-content">
                        <div class="card-body pt-1">
                            <form action="{% url 'login'%}" method="post" class="site-form mt-3">
                                {% csrf_token %} {{form|crispy}} {% if request.GET.next%}
                                <input type="hidden" name="next" value="{{request.GET.next}}"> {% endif %}

                                <input type="submit" value="Login" class="btn btn-primary mr-auto ml-auto px-5 text-white mt-2">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row justify-content-center mx-auto">

        <div class="col-md-5">
            
        </div>

    </div> -->


</body>
<!-- END: Body-->

</html>