{% extends 'dashboard_layout.html' %} {% block title %}Beneficiary{% endblock %} {% block body %}

<div class="contaier">
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'all_beneficiaries' %}" class="btn btn-block btn-primary">View all Beneficiaries</a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'hos_parmacies' %}" class="btn btn-block btn-primary">View Hospitals & Pharmacies</a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'medecinesAllowed' %}" class="btn btn-block btn-primary">View Allowed Drugs</a>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'last_week' %}" class="btn btn-block btn-primary">Weekly report</a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'last_month' %}" class="btn btn-block btn-primary">Monthly report</a>
    </div>
    <div class="col-md-4">
      <a href="{% url 'last_year' %}" class="btn btn-block btn-primary">Yearly report</a>
    </div>
  </div>
</div>

<br><br><br><br><br><br>
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card bg-white text-black shadow md-4">
        {% comment %} <a href="" class="btn btn-info btn-sm">View in Pdf</a> {% endcomment %}
          <h5 class="text-center">Gender Beneficiaries' Comparison</h5> <br>
          <canvas id="myChart" width="500" height="170"></canvas>
        </div>
      </div>
</div>


<script>
      $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        let sum = {{male}} + {{female}};

        var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            // labels: [{% for school in qs %}'{{ school.sector }}',{% endfor %}],
            labels: ['Male Beneficiaries ', 'Female Beneficiaries'],
            datasets: [{
              label: '# of Students with the following range of numbers',
    data: [(({{male}} * 100)/sum).toFixed(1), (({{female}} * 100)/sum).toFixed(1),],

        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
      ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
      ],
        borderWidth: 1
}]
},
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        plugins: {
          datalabels: {
            color: '#000',
            {% comment %} anchor: 'end',
            align: 'start', {% endcomment %}
            offset: -10,
            {% comment %} borderWidth: 2,
            borderColor: '#808080',
            borderRadius: 50, {% endcomment %}
            {% comment %} backgroundColor: (context) => {
              return context.dataset.backgroundColor;
            }, {% endcomment %}
            font: {
              weight: 'bold',
              size: '10'
            },
            formatter: (value) => {
              return value + '%';
            }
          }
        }
      }
});
}); 
    </script>

{% endblock %}