{% extends 'workers/pharmacist/pharmacyDashboard.html' %}
{% block tagName %}
<strong>{{pharmacy}}</strong>
{% endblock %}
 {% block title %}reports{% endblock %} {% block body %}
<div class="row">
<div class="col-md-4">
        <a class="btn btn-block btn-primary" href="{% url 'lastWeekPharPDF' %}">Last Week Report</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-block btn-primary" href="{% url 'lastMonthPharPDF' %}">Last Month Report</a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-block btn-primary" href="{% url 'lastYearPharPDF' %}">Last Year Report</a>
</div>  
</div>
<br><br>
<div class="row">
  <div class="col-md-4">
    <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#myModal">Beneficiary Treatment history</button>
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Generate report based on choices</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form role="search" action='schoolAvgFromSchool'>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="number" name="year" placeholder="Enter year" required>
                </div>
  
              </div>
  
            </div>
  
            <button class="btn btn-success btn-sm">Generate Report</button>
          </form>
        </div>
  
      </div>
  
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
  
    </div>
  </div>

{% endblock %}