{% extends 'dashboard_layout.html' %} {% block title %}pharmacy update{% endblock %} {% block body %}



<div class="content-dashboard">
  <div class="row card shadow-sm mt-4 pb-4 p-4 ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="mb-4 text-centered text-info text-uppercase">Fill this form to {{title}} Hospital</h3>

      <a href="{% url 'create_pharmacist' %}" class="btn btn-primary" style="float: right;">Add Pharmacist</a> <br> <br>

      {{ form.non_field_errors}}{{form.media}}
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Name </label><span style="color:red;">*</span>
              {{form.name}} {% for error in form.name.errors %}
              <span class="text-danger">{{error}}</span> {% endfor %}
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="{{ form.address.id_for_label }}">Address</label><span style="color:red;">*</span>
              {{form.address}} {% for error in form.address.errors %}
              <p class="text-danger"> {{error}}</p>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="{{ form.agent.id_for_label }}">Agent</label><span style="color:red;">*</span>
              {{form.agent}} {% for error in form.agent.errors %}
              <p class="text-danger"> {{error}}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        
        <a href="javascript:history.go(-1)" class="btn btn-outline-primary mt-2 text-size-sm px-5">Cancel</a>
        <input type="submit" value="{{title}}" class="btn btn-primary mt-2 px-5">
      </form>
    </div>
  </div>
</div>



{% endblock %}